!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.class
*.hmap
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
*/build/*
.DS_Store
.idea/
DerivedData
Pods
node_modules
profile
xcuserdata
